body {
  padding-top: 200px;
  text-align: center;
  display: block;
  position: relative;
}

.wallpaper {
  background: url("zen.png");
  opacity: 0.15;
  z-index: -1;
  position: fixed;
  width: 50%;
  top: 15%;
  left: 25%;
  margin: 0 auto;
}


h1 {
  opacity: 0.25;
  font-size: 88px;
  color: #555;
}

section {
  margin: 50px;
  color: black;
}